html, body {
  height: 100%;
  overflow: hidden;
}

html {
  --primary-color: whitesmoke;
  --secondary-color: white;
  --accent-color: lightgray;

  background-color: var(--primary-color);
  transition-duration: 500ms;
}

html.dark {
  --primary-color: #222;
  --secondary-color: black;
  --accent-color: #333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  color: var(--secondary-color);
  font-size: 36px;
  padding: 32px;
  border: 8px solid;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 4px;
  flex: 1;
  transition-duration: 500ms;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  width: 36vw;
  min-width: 480px;
}

.horizontal-container {
  display: flex;
}

button:disabled {
  background-color: var(--primary-color);
  border-color: var(--accent-color);
}

button:hover:enabled {
  background-color: var(--secondary-color);
  flex: 2;
}

button:active:enabled {
  background-color: darkslategray;
  border-color: slategray;
  flex: 1;
}

.top-button {
  background-color: yellowgreen;
  padding: 8px;
  min-width: 128px;
  width: 16vw;
  margin-left: 128px;
  border-radius: 64px 16px;
  border-color: yellowgreen;
}

.top-button:hover:enabled {
  color: yellowgreen;
  width: 20vw;
}

.top-button:active:enabled {
  color: var(--secondary-color);
  width: 16vw;
}

.left-button {
  background-color: lightseagreen;
  border-radius: 128px 16px 16px 16px;
  border-color: lightseagreen;
  padding-left: 64px;
}

.left-button:hover:enabled {
  color: lightseagreen;
}

.left-button:active:enabled {
  color: var(--secondary-color);
}

.right-button {
  background-color: tomato;
  border-radius: 16px 16px 128px 16px;
  border-color: tomato;
  padding-right: 64px;
}

.right-button:hover:enabled {
  color: tomato;
}

.right-button:active:enabled {
  color: var(--secondary-color);
}

.bottom-button {
  background-color: purple;
  border-radius: 16px 128px;
  border-color: purple;
  padding-right: 64px;
}

.bottom-button:hover:enabled {
  color: purple;
  margin-left: 2vw;
  margin-right: 1vw;
}

.bottom-button:active:enabled {
  color: var(--secondary-color);
  margin: 4px;
}
