html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  color: white;
  font-size: 36px;
  padding: 32px;
  border: 8px solid;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 4px;
  flex: 1;
  transition-duration: 500ms;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  width: 36vw;
  min-width: 480px;
}

.horizontal-container {
  display: flex;
}

button:hover {
  background-color: white;
  flex: 2;
}

button:active {
  background-color: darkslategrey;
  border-color: slategrey;
  flex: 1;
}

.top-button {
  background-color: lightgreen;
  padding: 8px;
  min-width: 128px;
  width: 16vw;
  margin-left: 128px;
  border-radius: 64px 16px;
  border-color: lightgreen;
}

.top-button:hover {
  color: lightgreen;
  width: 20vw;
}

.top-button:active {
  color: white;
  width: 16vw;
}

.left-button {
  background-color: lightseagreen;
  border-radius: 128px 16px 16px 16px;
  border-color: lightseagreen;
  padding-left: 64px;
}

.left-button:hover {
  color: lightseagreen;
}

.left-button:active {
  color: white;
}

.right-button {
  background-color: tomato;
  border-radius: 16px 16px 128px 16px;
  border-color: tomato;
  padding-right: 64px;
}

.right-button:hover {
  color: tomato;
}

.right-button:active {
  color: white;
}

.bottom-button {
  background-color: purple;
  border-radius: 16px 128px;
  border-color: purple;
  padding-right: 64px;
}

.bottom-button:hover {
  color: purple;
  margin-left: 2vw;
  margin-right: 1vw;
}

.bottom-button:active {
  color: white;
  margin: 4px;
}
